* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: #202020;
  height: 100%;
  width: 100%;
}
.background-image-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  margin: 0;
  padding: 0;
}

.short-intro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.short-intro {
  text-align: center;
  padding: 30px 15px;
  margin: 20px 15px;
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
  background-color: rgba(240, 240, 240, 0.55);
}

.short-title {
  font-weight: 600;
  font-size: 2.5rem;
}

.short-description {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media (max-width: 450px) {
  .short-title {
    font-size: 1.8rem;
  }

  .short-description {
    font-size: 1rem;
  }
}
