html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
