.aboutMe {
  background: #ecffec;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15rem;
  position: relative;
}

.aboutMe .aboutHeader {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-weight: 600;
  width: 100%;
}

.aboutMe .aboutText {
  font-size: 2.2rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
}

.aboutMe .aboutLinks {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .aboutMe {
    padding: 0 15px;
  }
  .aboutMe .aboutHeader {
    font-size: 1rem;
  }
  .aboutMe .aboutText {
    font-size: 2rem;
  }
  .aboutMe .aboutLinks {
    justify-content: flex-start;
  }
}
